<form method="POST" name="container-form" class="mt-4" action="/course/handle-form-action">
    <h2 class="heading">Your courses</h2>
    <a href="/me/trash/courses">Trash ({{countDeleted}})</a>
    <div class="action-box d-flex align-items-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">Select all</label>
      </div>
      <select class="custom-select select-action" name="action" required>
        <option value="">--Select action--</option>
        <option value="delete">delete</option>
      </select>
      <button type="submit" class="btn btn-primary btn-excute disabled">Excute</button>
    </div>
    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
            <th scope="col" ></th>
            <th scope="col" >
              {{{sortAble '_id' _sort}}}
            </th>
            <th scope="col">Name course
              {{{sortAble 'name' _sort}}}
            </th>
            <th scope="col">Level
              {{{sortAble 'level' _sort}}}

            </th>
            <th scope="col">Time post
              {{{sortAble 'createdAt' _sort}}}
            </th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td >
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input checkbox-course" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/course/{{this._id}}/edit" class="btn btn-link">Update</a>
                    <a href="" data-toggle="modal" data-target="#removeModal" data-id="{{this._id}}" class="btn btn-link">Remove</a>
                </td>
              {{else}}
              <td colspan="5" class="text-center">
                You don't have any course.
                <a href="/course/create">Post course</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure ???</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Confirm to remove course
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id ="btn-remove-course" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </div>
</div>

{{!-- hidden form --}}
    <form method="POST" name="form-delete" action=""></form>

<script>

document.addEventListener('DOMContentLoaded',function(){
  var formDelete = document.forms['form-delete'];
  var formContainer = document.forms['container-form'];
  var courseId; 
  var btnDelete = document.getElementById('btn-remove-course');
  var checkboxALl = $('#checkbox-all');
  var btnExcute = $('.btn-excute');
  var checkboxCourse = $('input[name="courseIds[]"]');
  $('#removeModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  courseId = button.data('id'); // Extract info from data-* attributes
})
  btnDelete.onclick = function(){
    formDelete.action = '/course/'+courseId+'?_method=DELETE';
    formDelete.submit()
  };
  checkboxALl.change(function(){
    checkboxCourse.prop('checked', $(this).prop('checked'));
    renderBtnExcute();

  });
  checkboxCourse.change(function(){
    var isChecked = checkboxCourse.length === $('input[name="courseIds[]"]:checked').length;
    renderBtnExcute();
  })
  btnExcute.click(function(e){
    var isSubmitable = !$(this).hasClass('disabled');
    if(!isSubmitable){
      e.preventDefault();
    }
  })
  function renderBtnExcute(){
    var countChecked = $('input[name="courseIds[]"]:checked').length;
    if(countChecked > 0){
      btnExcute.removeClass('disabled');
    }else{
      btnExcute.addClass('disabled');
    }
  }
})

</script>