<div class='mt-4'>
    <a href='/me/stored/courses'>Back</a>
    <h2 class='heading'>Trash</h2>
    <table class='table'>
        <thead class='thead-dark'>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name course</th>
                <th scope='col'>Level</th>
                <th scope='col'>Time deleted</th>
                <th scope='col'></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a
                            href=""
                            class='btn btn-link btn-restore'
                            data-id='{{this._id}}'
                        >Restore</a>
                        <a
                            href=""
                            data-toggle='modal'
                            data-target='#removeModal'
                            data-id='{{this._id}}'
                            class='btn btn-link btn-delete-force'
                        >Remove</a>
                    </td>
                    {{else}}
                    <td colspan="5" class="text-center">
                        Empty
                        <a href="/me/stored/courses">Back your courses</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
    class='modal fade'
    id='removeModal'
    tabindex='-1'
    role='dialog'
    aria-hidden='true'
>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Are you sure ???</h5>
                <button
                    type='button'
                    class='close'
                    data-dismiss='modal'
                    aria-label='Close'
                >
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                Confirm to remove course
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-dismiss='modal'
                >Cancel</button>
                <button
                    id='btn-destroy'
                    type='button'
                    class='btn btn-danger'
                >Remove</button>
            </div>
        </div>
    </div>
</div>

{{! hidden form }}
<form method='POST' name='form-restore' action=''></form>
<form method='POST' name='form-delete-force' action=''></form>

<script>

document.addEventListener('DOMContentLoaded',function(){
    var formDelete = document.forms['form-delete-force']; 
    var formRestore = document.forms['form-restore']; 
    var courseId;
    var btnDelete =  $('.btn-delete-force');
    var btnDetroy =  document.getElementById('btn-destroy');
    var btnRestore = $('.btn-restore');

    $('#removeModal').on('show.bs.modal', function (event) {
       var button = $(event.relatedTarget); // Button that triggered the modal courseId =
    button.data('id'); // Extract info from data-* attributes
    });


    btnDelete.click(function(){
        courseId = $(this).data('id');
        console.log(courseId)
    });  
    btnDetroy.onclick = function(){
       formDelete.action = '/course/'+courseId+'/force?_method=DELETE'; 
       formDelete.submit(); 
    };
    btnRestore.click(function(e){
      e.preventDefault();
      formRestore.action = '/course/'+$(this).data('id')+'/restore?_method=PATCH'; 
      formRestore.submit(); 
    });  
});


</script>